<p><a name="_Toc496952490"></a><strong><span style="text-decoration: underline;">SHARETIMER PTY LTD &ndash; PRIVACY POLICY</span></strong></p>
<p>This Privacy Policy sets out <strong>Sharetimer Pty Ltd </strong>(ABN 93 611 229 844) its successors and assignees (referred to as <strong>we</strong>, <strong>us</strong> and <strong>our</strong>) commitment to protecting the privacy of your personal information that we collect through our website <a href="http://www.sharetimer.com">www.sharetimer.com</a> (<strong>Site</strong>), our Sharetimer Application (<strong>App</strong>) or directly from you, being the person, organisation or entity that uses our Site, App or services (referred to as <strong>you</strong> or <strong>your</strong>).&nbsp;</p>
<p>Please read this Privacy Policy carefully.&nbsp; Please contact us if you have any questions &ndash; our contact details are at the end of this Privacy Policy.&nbsp; &nbsp;</p>
<p>You providing us with personal information indicates that you have had sufficient opportunity to access this Privacy Policy and that you have read and consented to it. &nbsp;</p>
<p>If you do not wish to provide personal information to us, then you do not have to do so, however it may affect your use of this Site or App or any products and services offered by us.</p>
<h1>1.&nbsp;Collection of personal information</h1>
<p><strong>Personal information</strong>: The type of information we collect may include:</p>
<ul>
    <li>name;</li>
    <li>images;</li>
    <li>contact details including email address telephone number;</li>
    <li>date of birth;</li>
    <li>country of birth;</li>
    <li>preferences and opinions; and</li>
    <li>any other information requested on this Site, App or otherwise requested by us or provided by you.</li>
</ul>
<p><strong>Your use of our Site and App</strong>: As with most online businesses, we may log information about your access and use of our Site or App, including through the use of Internet cookies, your communications with our Site or App, the type of browser you are using, the type of operating system you are using and the domain name of your Internet service provider.&nbsp;</p>
<p><strong>Your opinion and feedback</strong>: We may contact you to voluntarily respond to questionnaires, surveys or market research to seek your opinion and feedback. Providing this information is optional to you.&nbsp;</p>
<p>If we receive your personal information from third parties, we will protect it as set out in this Privacy Policy.</p>
<h1>2.&nbsp;Collection and use of personal information</h1>
<p>We collect and use the information for purposes including:</p>
<ul>
    <li>to contact and communicate with you;</li>
    <li>for internal record keeping;</li>
    <li>for market research and business development including website and App development;</li>
    <li>for marketing including direct marketing;</li>
    <li>to run competitions or offer additional benefits to you;</li>
    <li>to send you promotional information about third parties that we think may be of interest to you; and</li>
    <li>for data analytics purposes.</li>
</ul>
<h1>3.&nbsp;Disclosure of personal information to third parties</h1>
<p>We may disclose personal information to:</p>
<ul>
    <li>credit reporting agencies and courts, tribunals and regulatory authorities where customers fail to pay for goods or services provided by us to them;</li>
    <li>courts, tribunals, regulatory authorities and law enforcement officers as required by law, in connection with any actual or prospective legal proceedings, or in order to establish, exercise or defend our legal rights; and</li>
    <li>third parties, including agents or sub-contractors, who assist us in providing information, products, services or direct marketing to you. This may include parties located, or that store data, outside of Australia including in the United States of America.</li>
</ul>
<p>Where we disclose your personal information to third parties for these purposes, we will request that the third party follow this Privacy Policy regarding handling of your personal information.</p>
<p>If there is a change of control of our business or a sale or transfer of business assets, we reserve the right to transfer to the extent permissible by law our user databases, together with any personal information and non-personal information contained in those databases.&nbsp; This information may be disclosed to a potential purchaser.&nbsp; We would seek to only disclose information in good faith.</p>
<h1>4.&nbsp;Your rights and controlling your personal information</h1>
<p><strong>Choice and consent</strong>: Providing us with your personal information is optional to you.&nbsp;&nbsp; You can choose not to provide personal information.&nbsp; When you provide us with your personal information, you consent to the terms in this Privacy Policy, and to us disclosing or receiving your personal information for these purposes.</p>
<p><strong>Your provision of third party information:</strong> If you provide us with third party personal information then you warrant to us that you have the third party&rsquo;s consent to provide this.</p>
<p><strong>Restrict</strong>: You may choose to restrict the collection or use of your personal information.&nbsp; If you have previously agreed to us using your personal information for direct marketing purposes, you may change your mind at any time by contacting us using the method set out on the Site.&nbsp;</p>
<p><strong>Access</strong>: You may request details of personal information that we hold about you, in certain circumstances set out in the <em>Privacy Act</em> 1988 (Cth).&nbsp; An administrative fee may be payable for the provision of information.&nbsp; We may refuse to provide you with information that we hold about you, in certain circumstances set out in the Privacy Act.</p>
<p><strong>Correction</strong>: If you believe that any information we hold about you is inaccurate, out of date, incomplete, irrelevant or misleading, please contact us using the method set out on the Site. &nbsp;We rely in part upon customers advising us when their personal information changes. &nbsp;We will respond to any request within a reasonable time.&nbsp; We will endeavour to promptly correct any information found to be inaccurate, incomplete or out of date.</p>
<p><strong>Complaints</strong>: If you believe that we have breached the Australian Privacy Principles and wish to make a complaint about that breach, please contact us using the method set out on the Site out details of the breach. &nbsp;We will promptly investigate your complaint and respond to you in writing setting out the outcome of our investigation, what steps we propose to take to remedy the breach and any other action we will take to deal with your complaint.</p>
<p><strong>Unsubscribe</strong>: To unsubscribe from our e-mail database, or opt out of communications, please contact us using the details below.</p>
<h1>5.&nbsp;Storage and Security</h1>
<p>We are committed to ensuring that the information you provide is secure. &nbsp;In order to prevent unauthorised access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information and protect it from misuse, interference, loss and unauthorised access, modification and disclosure.</p>
<p>No information transmitted over the Internet can be guaranteed to be secure.&nbsp; We cannot guarantee the security of any information that you transmit to us, or receive from us.&nbsp; The transmission and exchange of information is carried out at your own risk. &nbsp;Although we take measures to safeguard against unauthorised disclosures of information, we cannot assure you that personal information that we collect will not be disclosed in a manner that is inconsistent with this Privacy Policy.</p>
<h1>6.&nbsp;Cookies &amp; Web Beacons</h1>
<p>We may use cookies on this Site or App from time to time. &nbsp;Cookies are text files placed in your computer's browser to store your preferences. &nbsp;Cookies, by themselves, do not tell us your e-mail address or other personally identifiable information. &nbsp;However, once you choose to furnish the Site or App with personally identifiable information, this information may be linked to the data stored in the cookie.</p>
<p>We may use web beacons on this Site or App from time to time. &nbsp;Web beacons or clear .gifs are small pieces of code placed on a web page to monitor the visitors&rsquo; behaviour and collect data about the visitors viewing a web page. &nbsp;For example, web beacons can be used to count the users who visit a web page or to deliver a cookie to the browser of a visitor viewing that page.</p>
<h1>We may use Google Analytics to collect and process data. &nbsp;To find out how Google uses data when you use third party website or applications, please see <a href="http://www.google.com/policies/privacy/partners/">www.google.com/policies/privacy/partners/</a> or any other URL Google may use from time to time.</h1>
<h1>7.&nbsp;Links to other website</h1>
<p>Our Site and App may contain links to other website of interest.&nbsp; We do not have any control over those websites.&nbsp; We are not responsible for or liable for the protection and privacy of any information which you provide whilst visiting such websites, and such websites are not governed by this Privacy Policy.</p>
<h1>8.&nbsp;Amendments</h1>
<p>This Privacy Policy may be amended, including with changes, additions and deletions, from time to time in our sole discretion. &nbsp;Your continued use of our Site or App following any amendments indicates that you accept the amendments.&nbsp; You should check this Privacy Policy regularly, prior to providing personal information, to ensure you are aware of any changes, and only proceed to provide personal information if you accept the new Privacy Policy.</p>
<p><strong>For any questions or notice, please contact us via the method set out on the Site.</strong></p>
<p><strong>Sharetimer Pty Ltd </strong>ABN 93 611 229 844</p>
<p>1/114 Fairbairn Road</p>
<p>Sunshine West VIC 3020</p>