<p><strong>APPLICATION TERMS &amp; CONDITIONS</strong></p>
<p>These Terms of use (<strong>Terms</strong>) govern your use of this mobile application (<strong>Application</strong>). Use of this Application constitutes acceptance of these Terms, as may be revised by <strong>Sharetimer Pty Ltd </strong>(ABN 93 611 229 844) (<strong>Sharetimer</strong>) from time to time, which constitute a binding agreement between you and Sharetimer governing the use of the Application.</p>
<p>By downloading, installing, accessing or using this Application, you acknowledge you have read, understand and agree to be bound by these Terms.&nbsp; If you do not agree to these Terms you should uninstall and/or cease to access and use this Application immediately.</p>
<p>The Application is owned by Sharetimer and the terms &lsquo;we&rsquo;, &lsquo;us&rsquo;, &lsquo;our&rsquo; and &lsquo;Sharetimer&rsquo; refer to Sharetimer.&nbsp; The terms &lsquo;you&rsquo; and &lsquo;your&rsquo; refer to users of the Application (each a <strong>User</strong>).&nbsp;</p>
<h1>1.&nbsp;<strong>Eligibility and Basis of Use</strong></h1>
<ul>
    <li>The Application may only be used by individuals aged eighteen (18) years or older. If the User is thirteen (13) years or older but under the age of eighteen (18) years, User should review these Terms with the User&rsquo;s parent or guardian to make sure the User and the User&rsquo;s parent or guardian understand them.</li>
    <li>Using the Application may be prohibited or restricted in certain countries. If you use the Application outside of Australia, you are responsible for complying with the laws and regulations of the territory from which you access or use the Application.</li>
</ul>
<h1>2.&nbsp;<strong>Additional Terms and Conditions </strong></h1>
<p>These Terms supplement and incorporate:</p>
<ul>
    <li>the Sharetimer policies and terms and conditions (<strong>Sharetimer Policies</strong>), including the Privacy Policy, posted at www.sharetimer.com (<strong>Website</strong>);</li>
    <li>the Apple, Inc. Terms and Conditions including, without limitation, the Licensed Application End User License Agreement provided therein (<strong>Apple Terms</strong>); and</li>
    <li>the Android, Google Inc. Terms and Conditions including, without limitation, the License Agreement and Terms of Application (<strong>Android Terms</strong>).</li>
</ul>
<p>If any of the provisions of the Apple Terms, the Android Terms or any applicable Sharetimer Policies conflict with these Terms, these Terms have priority, solely to the extent such Terms apply to the Application.</p>
<h1>3.&nbsp;Registration</h1>
<ul>
    <li>Access to the Application will require a User to register for an account (<strong>Account</strong>).</li>
    <li>Basic information is required when registering for an Account. Each User is required to provide certain information including name, email address and password.</li>
    <li>Each User agrees to provide accurate, current and complete information during the registration process and update such information to keep it accurate, current and complete. Sharetimer reserves the right to suspend or terminate any Account and a User&rsquo;s access to the Application if any information provided to Sharetimer proves to be inaccurate, not current or incomplete.</li>
    <li>It is the User&rsquo;s responsibility to keep its Account details and password confidential. The User is liable for all activity on its Account. The User agrees that it will not disclose its password to any third party and that it will take sole responsibility for any activities or actions under its Account, whether or not it has authorised such activities or actions. The User will change its password regularly.</li>
    <li>The User will immediately notify Sharetimer of any unauthorised use of its Account.]</li>
</ul>
<h1>4.&nbsp;<strong>Copyright and Intellectual Property</strong></h1>
<ul>
    <li>Our Application contains material which is owned by or licensed to us (or our affiliates and/or third party licensors as applicable), and is protected by Australian and international laws, including but not limited to the trademarks, trade names, software, Content, design, images, graphics, layout, appearance and look of the Application. Sharetimer, the Sharetimer logo, and other Sharetimer material used in connection with the Application are unregistered or registered trademarks of Sharetimer (collectively Sharetimer<strong> Marks</strong>).</li>
    <li>Intellectual Property includes all code, algorithms, copyright, fees, pricing, registered and unregistered Sharetimer Marks, logos, slogans, designs, audio tracks, information, images, photographs, patents, know-how, trade secrets, ideas, methods, diagrams, drawings, databases, notes, documents, confidential information and any other proprietary or industrial rights relating to Sharetimer (in each case whether registered or unregistered or whether capable of registration), together with any applications for registration and any rights to registration or renewal of such rights anywhere in the world and whether created before or after the date of these Terms; goodwill in the business and Application; trade, business company or organisation names; internet domain names; and Content, images and layout.</li>
    <li>You agree that, as between you and us, we own all Intellectual Property rights in the Application, and that nothing in these Terms constitutes a transfer of any Intellectual Property rights. We own the Intellectual Property including copyright which subsists in all creative and literary works displayed in the Application.&nbsp; The Application is protected by copyright, trademark, patent, trade secret, international treaties, laws and other proprietary rights, and also may have security components that protect digital information only as authorised by Sharetimer or the owner of the Content.</li>
    <li>Other trademarks, service marks, graphics and logos used in connection with the Application are the trademarks of their respective owners (collectively Third Party Marks).</li>
    <li>The Intellectual Property, Sharetimer Marks and Third Party Marks may not be copied, imitated or used, in whole or in part, without the prior written permission of Sharetimer or the applicable trademark holder.</li>
    <li>Users do not obtain any interest or licence in the Intellectual Property, Sharetimer Marks or Third Party Marks without the prior written permission of Sharetimer or the applicable trademark holder. Users may not do anything which interferes with or breaches the Intellectual Property rights.&nbsp;</li>
</ul>
<h1>5.&nbsp;<strong>User Licence</strong></h1>
<ul>
    <li>Subject to these Terms, Sharetimer grants the User a personal, non-exclusive, non-transferable, limited and revocable licence to use the Application for your own personal and/or non-commercial use only on a computer or mobile device (each a <strong>Devic</strong>e) owned or controlled by the User as permitted in accordance with these Terms (<strong>User Licence</strong>), and not to use the Application in any other way or for any other purpose, apart from local fair dealing legislation. All other uses are prohibited without our prior written consent.</li>
    <li>The right to use the Application is licensed to you and is not being sold to you. You have no rights in the Application other than to use it in accordance with these Terms.</li>
    <li>These Terms and User Licence govern any updates to, or supplements or replacements for, this Application, unless separate terms accompany such updates, supplements or replacements, in which case the separate terms will apply.</li>
</ul>
<h1><strong>6.&nbsp;</strong><strong>User Warranties</strong></h1>
<ul>
    <li>By using our Application, you warrant that you possess the legal capability and authority to enter into the Terms and to use the Application in accordance with the Terms; you are at least 18 years old or if you are under 18 years old then have reviewed these Terms with your parent or guardian to make sure that you and your parent or guardian understand them and you have the consent of your parent or guardian; any registration information you submit is truthful and accurate and you will maintain the accuracy of such information; and your use of our Application does not violate any applicable law or regulation.</li>
    <li>As a condition of your use of our Application, you agree to abide by the Terms; not to provide the Application to any third party; that Sharetimer has the right to refuse you any and all current or future use of the Application and that Sharetimer reserves the right to include or exclude entry to, or remove a User from the Application.</li>
</ul>
<h1>7.&nbsp;<strong>User Information and Security </strong></h1>
<ul>
    <li>The Application may require the transmission of information provided by the User including User names and passwords, addresses, e-mail addresses. (<strong>User Information</strong>).</li>
    <li>If the User uses such Application functionality, the User consents to the transmission of User Information to Sharetimer, its agents and/or service providers and authorises Sharetimer, its agents and/or service providers to record, process and store such User Information as necessary for the Application functionality and for purposes described in our Privacy Policy on our Website.</li>
    <li>User Information is stored securely. If we are aware of a breach of security, we will notify affected users and we will cooperate with authorities regarding the breach.</li>
    <li>The User is solely responsible for maintenance of the confidentiality and security of any User Information transmitted from or stored on a Device for the purposes of the Application, for all transactions and other activities in the User&rsquo;s name, whether authorised or unauthorised.</li>
    <li>The User agrees to immediately notify us of any unauthorized transactions or breach of security associated with the Application. We are not responsible for any losses arising out of the loss or theft of User Information transmitted from or stored on a Device or from unauthorized or fraudulent transactions associated with the Application.</li>
    <li>The Application allows Users to submit status text, profile photos and other communications (collectively, the <strong>Status Submissions</strong>). These Status Submissions may be hosted, shared, and/or published as part of the Application, and may be visible to other Users who have your mobile phone number in their Device and which you have not expressly blocked. Direct messages, location data and photos or files that you send directly to other Users (collectively <strong>Private Posts</strong>) will only be viewable by those User(s) or group(s) of Users you directly send such information; but Status Submissions may be globally viewed by Users that have your mobile phone number on their Device, unless the User is blocked by you.</li>
    <li>In connection with Status Submissions, you warrant that: (i) you own or have the necessary licences, rights, consents, and permissions to use, and you authorise Sharetimer to use, all patent, trademark, trade secret, copyright or other proprietary rights in and to any and all Status Submissions to enable inclusion and use of the Status Submissions in the manner contemplated by the Application and these Terms; and (ii) you have the written consent, release, and/or permission of each and every identifiable individual person in the Status Submission to use the name or likeness of each and every such identifiable individual person to enable inclusion and use of the Status Submissions in the manner contemplated by the Application and these Terms.</li>
    <li>However, by submitting the Status Submissions to the Application, you hereby grant Sharetimer a worldwide, non-exclusive, royalty-free, sublicenseable and transferable license to use, reproduce, distribute, prepare derivative works of, display, and perform the Status Submissions in connection with the Application and Sharetimer (and its successor's) business, including without limitation for promoting and redistributing part or all of the Application (and derivative works thereof) in any media formats and through any media channels. You also hereby grant each subscriber to your status on the Application a non-exclusive licence to access your Status Submissions through the Application. The foregoing licence granted by you for each a Status Submission, terminates once you remove or delete such Status Submission from the Application.</li>
    <li>The Application may require the transmission of User Information. In order to access and use the features of the Application, you acknowledge and agree that you will have to provide Sharetimer with your mobile phone number. You expressly acknowledge and agree that in order to provide the Application, Sharetimer may periodically access your contact list and/or address book on your Device to find and keep track of mobile phone numbers of other Users. When providing your mobile phone number, you must provide accurate and complete information. You hereby give your express consent to Sharetimer to access your contact list and/or address book for mobile phone numbers in order to provide and use the Application. We do not collect names, addresses or email addresses, just mobile phone numbers.</li>
    <li>Currently, we have no method of providing different levels of visibility of your Status Submissions among Users that have your mobile phone number. You acknowledge and agree that any Status Submissions may be globally viewed by Users that have your mobile phone number and will use the application accordingly. You acknowledge that if you do consent to this publication, you will not submit it as a Status Submission to the Application. You retain your ownership rights in your Status Submissions. You acknowledge that whether or not such Status Submissions are published, Sharetimer does not guarantee any confidentiality with respect to any submissions.</li>
    <li>Sharetimer does not endorse any Status Submission, Private Posts or any opinion, recommendation, or advice expressed therein, and Sharetimer expressly disclaims any and all liability in connection with Status Submissions and Private Posts. [Sharetimer also reserves the right to decide whether Content or a Status Submission or a Private Post is appropriate and complies with these Terms. Sharetimer may remove such Status Submissions or Content and/or terminate a User's access for uploading such material in violation of these Terms at any time, without prior notice and at its sole discretion.</li>
    <li>You are solely responsible for the Status Submissions, Private Posts and other information that you submit and that are displayed for your mobile phone number on the Application. You must notify Sharetimer immediately of any breach of security or unauthorised use of your Device. Although Sharetimer will not be liable for your losses caused by any unauthorised use of your Account, you may be liable for the losses of Sharetimer or others due to such unauthorised use.</li>
    <li>You are solely responsible for Status Submissions or other communications you transmit onto third party platforms (such as Facebook and Twitter) using the Application and may be subject to third party terms and conditions. Sharetimer does not guarantee any confidentiality with respect to these Status Submissions.</li>
</ul>
<h1>8.&nbsp;<strong>Acceptable Use and Prohibited Use</strong></h1>
<p>Use by the User of the Application and any Content and User Information transmitted in connection with the Application is limited to the contemplated functionality. The User agrees that his or her use of the Application and any Content, Status Submissions and Private Posts must comply with these Terms and the Sharetimer Policies.&nbsp; In no event may the Application be used in a manner that:</p>
<ul>
    <li>harasses, abuses, stalks, threatens, defames or otherwise interfere, infringe or violate the rights of any other party (including but not limited to rights of publicity or other proprietary rights);</li>
    <li>is unlawful, fraudulent or deceptive;</li>
    <li>uses technology or other means to access the Application, Website or Content that is not authorized by us;</li>
    <li>uses or launch any automated system, including without limitation, robots, spiders, or offline readers, to access the Application, Website or Content;</li>
    <li>attempts to or tampers with, hinder or modify the Application, attempts to introduce viruses or any other computer code, files or programs that interrupt, destroy or limit the functionality, knowingly transmit viruses or other disabling features, damages or interfere with the Application including but not limited to the use of trojan horses, viruses, or piracy or programming routines that may damage or interfere with the Application;</li>
    <li>attempts to gain unauthorised access to our computer network or user accounts;</li>
    <li>encourages conduct that would constitute a criminal offense, or that gives rise to civil liability;</li>
    <li>violates these Terms;</li>
    <li>attempts to damage, disable, overburden, or impair our servers or networks;</li>
    <li>fails to comply with applicable third party Terms; or</li>
    <li>facilitates or assists another person to do any of the above acts.</li>
</ul>
<p>You must not:</p>
<ul>
    <li>post, upload, publish, submit or transmit any Content (including but not limited to Status Submissions) that:
        <ol>
            <li>infringes, misappropriates or violates a third party&rsquo;s patent, copyright, trademark, trade secret, moral rights or other intellectual property rights or rights of publicity or privacy;</li>
            <li>is fraudulent, false, misleading or deceptive;</li>
            <li>requests money from, or is intended to otherwise defraud other Users;</li>
            <li>denigrates Sharetimer or the Application;</li>
            <li>transmits junk mail, chain letter, spam mail, spimming, phishing, trolling or other unauthorised mass transmission.</li>
            <li>contains videos, images or media content of another person without his or her permission (or if such person is a minor, without the consent of the minor&rsquo;s legal guardian);</li>
            <li>is defamatory, abusive, obscene, pornographic, profane, vulgar, offensive, promotes discrimination, bigotry, racism, hatred, harassment or harm against any individual or group;</li>
            <li>is violent or threatening or promotes violence or actions that are threatening or intimidating to any other person; or</li>
            <li>promotes illegal or harmful activities or substances.</li>
        </ol>
    </li>
    <li>print, publish, modify, link to or distribute any Content from the Application or any other documentation that we provide to you, unless we have authorised you in writing;</li>
    <li>breach copyright or Intellectual Property rights, including but not limited to, that you must not republish, copy, distribute, transmit or publicly display material from our Application; alter or modify any of the code or the material on the Application;</li>
    <li>cause any of the Application to be framed or embedded in another website;</li>
    <li>use the Application for commercial purposes;</li>
    <li>collect or harvest any personally identifiable information, including phone number, from the Application, nor to use the communication systems provided by the Application for any commercial solicitation or spam purposes;</li>
    <li>modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell or re-sell any Application; or</li>
    <li>facilitate or assist another person to do any of the above acts.</li>
</ul>
<p>Any use of the Application in any other manner, including, without limitation, resale, transfer, modification or distribution of the Application or text, pictures, music, barcodes, video, data, hyperlinks, displays and other content associated with the Application (<strong>Content</strong>) is prohibited.</p>
<p>We reserve the right, in our sole discretion, to terminate any User Licence, remove Content or assert legal action with respect to Content or use of the Application, that we reasonably believes is or might be in violation of these Terms or Sharetimer Policies.&nbsp; Our failure or delay in taking such actions does not constitute a waiver of our rights to enforce these Terms.</p>
<p>Upon termination of the Terms, we have no further obligation to you, and may cease to provide the Application to you.&nbsp; The accrued rights, obligations and remedies of the parties are not affected by the termination of the Terms.</p>
<h1>9.&nbsp;Consumer Guarantee</h1>
<ul>
    <li>Our Application comes with consumer guarantees under applicable local consumer law that cannot be excluded.</li>
    <li>Certain legislation, including Australian Consumer Law, may imply warranties or conditions or impose obligations upon us which cannot be excluded, restricted or modified or cannot be excluded, restricted or modified except to a limited extent. These Terms must be read subject to these statutory provisions. If these statutory provisions apply, to the extent to which Sharetimer are able to do so, the liability of Sharetimer and its affiliates under those provisions will be limited, at its option to: (1) in the case of goods, the replacement of the goods or the supply of equivalent goods; the repair of the goods; the payment of the cost of replacing the goods or of acquiring equivalent goods; or the payment of the cost of having the goods repaired; and (2) in the case of services, the supplying of the services again; or the payment of the cost of having the services supplied again.</li>
</ul>
<h1>10.&nbsp;<strong>Disclaimers</strong></h1>
<ul>
    <li>We provide the Application to the User as is, and the User is using the Application at his or her own risk.</li>
    <li>To the fullest extent allowable under applicable law, we disclaim all warranties, representations and conditions, whether express or implied, including any warranties, representations and conditions that the Application is merchantable, of satisfactory quality, reliable, accurate, complete, suitable or fit for a particular purpose or need, non-infringing or free of defects or errors or able to operate on an uninterrupted basis, or that the use of the Application by the User is in compliance with laws applicable to the User or that User Information transmitted in connection with the Application (including as part of online payment) will be successfully, accurately or securely transmitted.</li>
    <li>We make no warranties or representations, express or implied, as to the timeliness, accuracy, quality, completeness or existence of the Content and information in the Application, technical accessibility, fitness or flawlessness of the Application, or that your use of the Application will not infringe rights of third parties.</li>
</ul>
<h1>11.&nbsp;<strong>Limitation of Liability</strong></h1>
<ul>
    <li>As a condition of using the Application, and in consideration of the Application provided by us, we exclude and you agree to the fullest extent allowable under applicable law, in no event shall Sharetimer and its parent or related bodies corporate (i) be liable to the User or any third party with respect to use of the Application, including without limitation participation in online payment; and (ii) be liable to the User or any third party for any direct, indirect, special, incidental, punitive, consequential, or exemplary damages, including, without limitation, damages for loss of goodwill, lost profits, loss of earnings, loss of business opportunities, loss, theft or corruption of User Information, the inability to use the Application or device failure or malfunction, however arising (including negligence) or otherwise arising in connection with:
        <ul>
            <li>the use of the Application by you, including but not limited to damages resulting from or arising from your reliance on the Application, or the interruptions, errors, defects, delays in operation or other conduct by third parties, or any failure of performance of the Application;</li>
            <li>any unauthorised access to or use of our secure servers and /or any personal information or financial information stored therein;</li>
            <li>any errors or omissions in any Content posted, emailed, transmitted or otherwise made available or any offensive , defamatory or illegal Content;</li>
            <li>the disclosure of any of your information;</li>
            <li>the breach, or alleged breach, of any warranty, express or implied, relating to these Terms or any transaction; or</li>
            <li>Government restriction, strikes, war, any natural disaster or force majeure, or any other condition beyond our reasonable control.</li>
        </ul>
    </li>
    <li>To the fullest extent allowable under applicable law, the User&rsquo;s sole remedy is to cease use of the Application or to cease participation in online payment.</li>
    <li>To the fullest extent allowable under applicable law, (but subject to the maximum extent permitted by applicable law) the maximum aggregate liability of Sharetimer and its parent or other affiliated companies to a User, whether in contract, tort (including negligence), strict liability or other theory, arising out of or relating to the use of or inability to use the Application, is the amount that the User pays, if any, to Sharetimer for access to or use of the Application during the six months period immediately prior to the event giving rise to such liability or one hundred dollars (AUD$100) if no such payments have been made, as applicable.</li>
    <li>The limitation of liability reflects the allocation of risk between the parties. The limitations specified in this section will survive and apply even if any limited remedy specified in these terms is found to have failed of its essential purpose. The limitations of liability provided in these Terms inure to the benefit of Sharetimer.</li>
</ul>
<h1>12.&nbsp;<strong>Indemnification</strong></h1>
<ul>
    <li>By using the Application, you agree to defend and indemnify and hold us (and our parent, related bodies corporate, officers, directors, contractors, employees and agents) harmless from and against any claims, actions, suits, demands, damages, liabilities, costs or expenses (including legal costs and expenses on a full indemnity basis), including in tort, contract or negligence, arising out of or connected to your use of or access to the Application; any breach by you of these Terms; any wilful, unlawful or negligent act or omission by you; and any violation by you of any applicable laws or the rights of any third party.</li>
    <li>We reserve the right to assume the exclusive defence and control of any matter otherwise subject to indemnification by the User, in which event the User will cooperate in asserting any available defences.</li>
    <li>This defence and indemnification obligation will survive these Terms and your use of the Application. These Terms, and any rights and licences granted hereunder, may not be transferred or assigned by you, but may be assigned by us without restriction.</li>
</ul>
<h1><strong>13.&nbsp;</strong><strong>General</strong></h1>
<p><strong>Amendments:</strong> Sharetimer reserves the right to amend, change or modify these Terms or any other Sharetimer Policies related to use of the Application at any time and at its sole discretion by posting revisions on the Website. Continued use of the Application following the posting of these changes or modifications will constitute acceptance of such changes or modifications.&nbsp; If any change or modification is unacceptable to you, you can choose to cease to use our Application.</p>
<p><strong>Governing Law and Jurisdiction</strong>: This Application is governed by the laws of New South Wales and the Commonwealth of Australia. Each party irrevocably and unconditionally submits to the exclusive jurisdiction of the courts operating in New South Wales.</p>
<p><strong>Severability:&nbsp; </strong>If any provision of these Terms shall be deemed unlawful, void or for any reason unenforceable, then that provision shall be deemed severable from these Terms and shall not affect the validity and enforceability of any remaining provisions, which continue in full force and effect.</p>
<p><strong>Disputes: </strong>&nbsp;You agree to use your best endeavours to resolve any dispute arising out of or relating to these Terms, with us, prior to resorting to any external dispute resolution process.&nbsp; Please notify us in writing of any dispute you may have.</p>
<p><strong>Entire Agreement and Understanding</strong><strong>:</strong> In respect of the subject matter of the Terms, the Terms contain the entire understanding between the Parties. Any previous oral and written communications, representations, warranties or commitments are superseded by the Terms and do not affect the interpretation or meaning of the Terms and each of the Parties has relied entirely on its own enquiries before entering into the Terms.</p>
<p><strong>Termination:</strong> The Terms are effective until terminated by us, which we may do at any time and without notice to you. In the event of termination, all restrictions imposed on you by the Terms and limitations of liability set out in the Terms will survive.</p>
<p><strong>For any questions or notice, please contact us via the method set out on the Website: </strong></p>
<p><strong>Sharetimer Pty Ltd </strong>ABN 93 611 229 844</p>
<p>1/114 Fairbairn Road</p>
<p>Sunshine West VIC 3020</p>